@import '@/styles/mixins.scss';
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
    }
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #00000090;
}
.content{
    background: #fff;
    display: flex;
    flex-direction: column;
    @include res('border-radius', 12px);
    @include res('padding', 30px);
    @include res('width', 360px);
    @include res('gap', 12px);
    @include media(576){
        @include resa('border-radius', 12px);
        @include resa('padding', 30px);
        @include resa('width', 360px);
        @include resa('gap', 12px);
    }
}
.title{
    text-align: center;
    @include res('margin-bottom', 18px);
    @include res('font-size', 24px);
    @include media(576){
        @include resa('margin-bottom', 18px);
        @include resa('font-size', 24px);
    }
}
.input{
    width: 100%;
    border: 1px solid #00000040;
    @include res('padding-left', 12px);
    @include res('padding-right', 12px);
    @include res('height', 50px);
    @include res('border-radius', 14px);
    @include res('font-size', 14px);
    @include media(576){
        @include resa('padding-left', 12px);
        @include resa('padding-right', 12px);
        @include resa('height', 50px);
        @include resa('border-radius', 14px);
        @include resa('font-size', 14px);
    }
    select{
        width: 100%;
        height: 100%;
        border: none;
        background: none;
    }
}
.btn{
    width: 100%;
    border: none;
    background: #9D3BFF;
    color: #fff;
    @include res('font-size', 16px);
    @include res('padding-left', 12px);
    @include res('padding-right', 12px);
    @include res('height', 50px);
    @include res('border-radius', 14px);
    @include media(576){
        @include resa('font-size', 16px);
        @include resa('padding-left', 12px);
        @include resa('padding-right', 12px);
        @include resa('height', 50px);
        @include resa('border-radius', 14px);
    }
}