@import '../../styles/mixins.scss';

.about {
    width: 100%;
    @include res('padding-top', 120px);
    @include res('padding-left', 110px);
    @include res('padding-right', 110px);
    @include res('padding-bottom', 143px);
    position: relative;
    overflow: hidden;

    @include media(392) {
        background-color: #202020;
        @include resa('border-radius', 40px);
        @include resa('margin-top', -40px);
        @include resa('padding-top', 211px);
        @include res('padding-left', 110px);
        @include res('padding-right', 110px);
        @include res('padding-bottom', 143px);
        overflow-y: visible;
    }
}

.cube {
    @include res('width', 700px);
    @include res('height', 700px);
    object-fit: cover;
    position: absolute;
    @include res('top', 30px);
    @include res('right', 30px);
    z-index: -1;
    pointer-events: none;

    @include media(392) {
        @include resa('width', 400px);
        @include resa('height', 400px);
        @include resa('top', -100px);
        @include resa('right', -200px);
        z-index: 1;
    }
}

.label {
    position: relative;
    width: max-content;
    font-family: Onest;
    @include res('font-size', 21px);
    @include res('line-height', 24px);
    font-weight: 500;
    text-align: left;
    color: white;
    @include res('padding', 12px);
    @include res('padding-right', 16px);
    @include res('padding-left', 16px);
    @include res('gap', 10px);
    @include res('border-radius', 60px);
    background-color: #9D3BFF;
    text-transform: uppercase;
    @include res('margin-bottom', 20px);
}

.innerText {
    @include res('width', 1220px);
    @include res('padding-left', 38px);
    @include res('padding-right', 38px);

    .title {
        font-family: Onest;
        @include res('font-size', 48px);
        @include res('line-height', 54.72px);
        font-weight: 700;
        text-align: left;
        color: #9D3BFF;
        @include res('margin-bottom', 24px);
    }

    .text {
        font-family: Onest;
        @include res('font-size', 32px);
        @include res('line-height', 44.8px);
        font-weight: 500;
        text-align: left;
        color: white;
    }
}