@import '../../styles/mixins.scss';

.intro {
    width: 100%;
    @include res('height', 816px);
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../../../public/intro.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include media(392) {
        min-height: 100vh;
        background-position: center;
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.81) 100%);
        @include res('padding-top', 216px);

        @include media(392) {
            @include resa('padding-top', 96px);
            align-items: center;
            justify-content: center;
        }
    }

    .title {
        font-family: Onest;
        @include res('font-size', 24px);
        @include res('line-height', 30.6px);
        font-weight: 500;
        text-align: center;
        color: white;
        @include res('margin-bottom', 16px);

        @include media(392) {
            @include resa('font-size', 24px);
            @include resa('margin-bottom', 16px);
        }
    }

    .subtitle {
        font-family: Space Grotesk;
        @include res('font-size', 112px);
        @include res('line-height', 110.32px);
        font-weight: 500;
        letter-spacing: 0.22em;
        text-align: center;
        color: white;
        @include res('margin-bottom', 16px);

        @include media(392) {
            @include resa('font-size', 54px);
            line-height: 100%;
            @include resa('letter-spacing', -2px);
            @include resa('margin-bottom', 16px);
            text-transform: uppercase;
        }
    }

    .name {
        font-family: Onest;
        @include res('font-size', 24px);
        @include res('line-height', 30.6px);
        font-weight: 500;
        text-align: left;
        color: white;
        @include res('margin-bottom', 16px);

        @include media(392) {
            @include resa('font-size', 24px);
            @include resa('line-height', 30.6px);
            @include resa('margin-bottom', 16px);
        }
    }

    .order {
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('gap', 10px);
        background-color: #9D3BFF;
        @include res('border-radius', 80px);
        @include res('padding', 12px);
        @include res('padding-left', 30px);
        @include res('padding-right', 30px);
        font-family: Onest;
        @include res('font-size', 16px);
        @include res('line-height', 20.4px);
        font-weight: 500;
        text-align: center;
        color: white;
        @include res('margin-bottom', 128px);

        @include media(392) {
            @include resa('padding', 12px);
            @include resa('padding-left', 30px);
            @include resa('padding-right', 30px);
            @include resa('font-size', 16px);
            @include resa('line-height', 20.4px);
            @include resa('border-radius', 80px);
            @include resa('gap', 10px);
            margin-bottom: 0;
        }

        svg {
            @include res('width', 32px);
            @include res('height', 32px);

            @include media(392) {
                @include resa('width', 32px);
                @include resa('height', 32px);
            }
        }
    }
}

.anim {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include res('margin-bottom', 16px);

    @include media(392) {
        display: none;
    }

    .rect {
        position: relative;
        @include res('width', 36px);
        @include res('height', 36px);
    }

    .arrow {
        position: absolute;
        @include res('bottom', 12px);
        @include res('width', 8px);
        @include res('height', 55px);
        animation: anim 3s infinite;
    }
}

.scrollText {
    font-family: Onest;
    @include res('font-size', 16px);
    @include res('line-height', 20.4px);
    font-weight: 400;
    text-align: center;
    color: white;

    @include media(392) {
        display: none;
    }
}

@keyframes anim {
    0% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20%);
    }
}